<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
<%- include('./partials/_index', user) %>
	<div class="page-wrapper">
		<div class="content">
			<div class="page-header">
				<div class="page-title">
					<h4>Product Add</h4>
					<h6>Create new product</h6>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Product Name</label>
								<input type="text" id="productName" value="<%= productNameForward%>">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Quantity</label>
								<input type="text" id="productQuantity" value="<%= quantityForward%>">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Base Price</label>
								<input type="text" id="basePrice" value="<%= basePriceForward%>">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Sell Price</label>
								<input type="text" id="sellPrice" value="<%= sellPriceForward%>">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Category</label>
								<select class="select" onchange="categoryChanged()">
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Sub Category</label>
								<select class="select">
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="form-group">
								<label>Barcode</label>
								<input type="text" id="productBarcode" value="<%= barCodeForward%>">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" id="productDescription"><%= productDescriptionForward%></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-submit" onclick="editProduct()">Submit</button>
							<a href="/productlist" class="btn btn-cancel">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script>
		currentCategory = ""
		document.addEventListener("DOMContentLoaded", () => {
			fetch("http://localhost:3000/api/customer/category")
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					for (i = 0; i < data.length; ++i) {
						if(data[i]["Cat_Name"] === '<%= categoryNameForward %>'){
								document.querySelector(".form-group .select").innerHTML += (`<option selected>${data[i]["Cat_Name"]}</option>`)
							}
							else{
								document.querySelector(".form-group .select").innerHTML += (`<option>${data[i]["Cat_Name"]}</option>`)
							}
					}
					currentCategory = data[0].Cat_Name
					fetch("http://localhost:3000/api/customer/subcategory?catName=" + data[0].Cat_Name)
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					document.querySelectorAll(".form-group .select")[1].innerHTML = ``
					for (i = 0; i < data.length; ++i) {
						if(data[i]["SubCat_Name"] === '<%= subCategoryNameForward %>'){
							document.querySelectorAll(".form-group .select")[1].innerHTML += (`<option selected>${data[i]["SubCat_Name"]}</option>`)
							}
							else{
								document.querySelectorAll(".form-group .select")[1].innerHTML += (`<option>${data[i]["SubCat_Name"]}</option>`)
							}
					}
				})
				.catch((error) => {
					console.error('There was an error!', error);
					alert("Some error occurs, please try again")
				});
				})
				.catch((error) => {
					console.error('There was an error!', error);
					alert("Some error occurs, please try again")
				});
		})

		function categoryChanged() {
			currentCategory = document.querySelectorAll(".form-group .select")[0].options[document.querySelectorAll(".form-group .select")[0].selectedIndex].value
			loadSubCategories(currentCategory)
		}
		function loadSubCategories(parentCategory) {
			fetch("http://localhost:3000/api/customer/subcategory?catName=" + parentCategory)
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					document.querySelectorAll(".form-group .select")[1].innerHTML = ``
					for (i = 0; i < data.length; ++i) {
						document.querySelectorAll(".form-group .select")[1].innerHTML += (`<option>${data[i]["SubCat_Name"]}</option>`)
					}
				})
				.catch((error) => {
					console.error('There was an error!', error);
					alert("Some error occurs, please try again")
				});
		}

		function editProduct() {
			var productName = document.getElementById("productName").value;
			var productDescription = document.getElementById("productDescription").value;
			var quantity = document.getElementById("productQuantity").value
			var basePrice = document.getElementById("basePrice").value
			var sellPrice = document.getElementById("sellPrice").value
			var barCode = document.getElementById("productBarcode").value
			var categoryName = currentCategory
			var subCategoryName = document.querySelectorAll(".form-group .select")[1].options[document.querySelectorAll(".form-group .select")[1].selectedIndex].innerText
			var product = {
				P_Name: productName,
				P_Description: productDescription,
				P_BasePrice: basePrice,
				P_SellPrice: sellPrice,
				P_Quantity: quantity,
				P_BarCode: barCode,
				SubCat_Name: subCategoryName,
				Cat_Name: categoryName
			}
			console.log(product)
			if (productName !== "" && productDescription !== "" && sellPrice !== "" && basePrice!=="" && quantity!=="" && barCode!=="") {
				fetch("http://localhost:3000/api/customer/products/" + '<%= productId %>', {
			    	method: "PUT",
			    	headers: {
			        	'Content-Type': 'application/json'
			    	},
			    	body: JSON.stringify(product)
				})
				.then(response => {
			    	if (!response.ok) {
			        	throw new Error('Network response was not ok');
			    	}
			    	else{
			        	alert("Product Updated Successfully");
						// document.getElementById("productName").value = ""
						// document.getElementById("productDescription").value = ""
						// document.getElementById("productQuantity").value = ""
						// document.getElementById("basePrice").value = ""
						// document.getElementById("sellPrice").value = ""
						// document.getElementById("productBarcode").value = ""
			   	 	}
			    	return response.json();
			 	})
				.catch((error) => {
			    	console.error('There was an error!', error);
			    	alert("Some error occurs, please try again")
				});
			}
			else{
					alert("Please fill required fields")
				}
		}
	</script>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/feather.min.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/plugins/select2/js/select2.min.js"></script>
	<script src="/plugins/sweetalert/sweetalert2.all.min.js"></script>
	<script src="/plugins/sweetalert/sweetalerts.min.js"></script>
	<script src="/js/script.js"></script>
	</body>

</html>